<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joshua' blog</title>
    <script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <h2>Title :{{ article.title }}</h2>  
    <h3>Auther : {{ auther }} </h3>
    <span> ------- >_< ------ </span>
    <article>
        {{ article.body }}
    </article>
    <!-- {{ article }} -->
    <span> ------- >_< ------ </span>

    {{ if loginuser && loginuser._id == article.auther }}
        <h3> <a href="/article/edit/{{ article.id }}">Edit</a></h3> 
        <h3> <a href="#" id="delete-article" data-id="{{ article.id }}">Delete</a></h3>
    {{ /if }}

</body>
<script>
    $(document).ready(function(){
        $('#delete-article').on('click', function(e){
            let target = $(e.target)
            // let id = e.target.attr("data-id") 这里报错不知道为什么
            let id = $(e.target).attr('data-id')
            $.ajax({
                type: 'delete',
                url: '/article/' + id,
                success: function() {
                    alert('Deleted article')
                    window.location.href = '/'
                },
                error: function(err) {
                    console.log(err)
                }
            })
        })
    })
</script>
</html>