<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>joshua</title>
    {{ include '../layouts/layout_head.html' }}
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="login-form" class="col-md-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
        <img src="/imgs/default-avator.jpg" class="img-circle center-block" alt="424">
        <h2>Register</h2>
        <form action="/users/register" method="POST" id="login">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                  <label for="userName">Username</label>
                  <input type="uername" class="form-control" id="userName" name="username">
                </div>
                <div class="form-group" id="posi">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" id="Password" name="password">
                </div>
                <button type="submit" class="btn btn-warning">注册</button>
        </form>
    </div>
</body>
<script>

</script>
</html>