<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joshua 424</title>

    {{ include './layouts/layout_head.html' }}
    
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    {{ include './layouts/layout_header.html' }}

    <main>
        <div class="main-container">
        {{ each articles value }}
            <section>
                <h2><a href="article/{{ `${value._id}` }}" class="title">《{{ value.title }}》</a></h2>
                <!-- <address>{{ value.auther }}</address> -->
                <!-- <time datetime="2018-09-17">2018-09-17</time> -->
                <div class="content">{{ value.body }}</div>
                <a href="article/{{ `${value._id}` }}" class="more">Read more</a>
            </section>
        {{ /each }}
        </div>
    </main>

    {{ include './layouts/layout_footer.html' }}
</body>
</html>




