<header>
    <div class="link-home col-xs-7  col-md-3 col-md-offset-1">
            <img id="logo" src="/imgs/default-avator.jpg" class="logo img-circle"></img>
            <span><a href="/"><img src="/imgs/logo.png" alt=""></a></span>
    </div>

    <ul id="a-menu" class="right-menu col-xs-5  col-md-4 col-md-offset-2">
        {{ if user }}        
        <li class="menu-item active"><a href="/">home</a></li>
        <li class="menu-item"><a href="/article/manage">my Articles</a></li>
        <li class="menu-item"><a href="/article/add">add Article</a></li>
        <li class="menu-item"><a href="/users/logout">Log out</a></li>
        {{ else }}
        <li class="menu-item">
            <a href="/users/login">Login</a> / 
            <a href="/users/register">Register</a>
        </li>
        {{ /if }}
    </ul>

    <!-- 默认隐藏 -->
    <div id="b-menu" class="dropdown col-xs-3 col-xs-offset-2">
        <a id="d-menu-btn" class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="/imgs/Menu.png" alt=""></a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
          {{ if user }}
            <li class="menu-item"><a href="/">home</a></li>
            <li class="menu-item"><a href="/article/manage">my Articles</a></li>
            <li class="menu-item"><a href="/article/add">add Article</a></li>
            <li class="menu-item"><a href="/users/logout">Log out</a></li>
          {{ else }}
            <li><a href="/users/login">logIn</a></li>
            <li><a href="/users/register">Register</a></li>
          {{ /if }}
        </ul>
    </div>

</header>



<script>
    $(".link-home").click(function() {
        window.location.href = '/'
    })
</script>


