<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h4>Login</h4>
    <form action="/users/login" method="POST" id="new-user">
        <label>User name:</label> 
        <input type="text" name="username"> <br />
        <label>Passo word:</label>
        <input type="password" name="password"> <br />
        <input type="submit" value="提交">
    </form>
</body>
</html>