<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>joshua</title>
    {{ include '../layouts/layout_head.html' }}
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="login-form" class="col-md-3 col-md-offset-4 col-lg-offset-4 col-xl-offset-1">
        <img src="/imgs/default-avator.jpg" class="img-circle center-block" alt="">
        <h2>用户登录</h2>
        <form action="/users/login" method="POST" id="login">
                <div class="form-group">
                  <label for="userName" >Username</label>
                  <input type="uername" class="form-control" id="userName" name="username" placeholder="用户名">
                </div>
                <div class="form-group" id="posi">
                  <label for="Password">Password</label>
                  <span id="forget-password"><a href="">忘记密码?</a></span>
                  <input type="password" class="form-control" id="Password" name="password" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-warning">登录</button>
        </form>
    </div>
</body>
<script>

</script>
</html>